<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewData["Title"] - A2SPA</title>
    <base href="~/">

    <environment names="Development">
        <link rel="stylesheet" href="~/node_modules/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/node_modules/material-design-icons/iconfont/material-icons.css" />
        <link rel="stylesheet" href="~/node_modules/ngx-toastr/toastr.css" />
        <link rel="stylesheet" href="~/node_modules/octicons/build/build.css">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <!--  @ViewData["Test"]  -->
    <style>
        @@font-face {
            font-family: 'Material Icons';
            font-style: normal;
            font-weight: 400;
            src: url(@ViewData["Root"]/node_modules/material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
            src: local('Material Icons'), local('MaterialIcons-Regular'),
                url(@ViewData["Root"]/node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
                url(@ViewData["Root"]/node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
                url(@ViewData["Root"]/node_modules/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
        }

        .material-icons {
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 24px; /* Preferred icon size */
            display: inline-block;
            line-height: 1;
            text-transform: none;
            letter-spacing: normal;
            word-wrap: normal;
            white-space: nowrap;
            direction: ltr;
            /* Support for all WebKit browsers. */
            -webkit-font-smoothing: antialiased;
            /* Support for Safari and Chrome. */
            text-rendering: optimizeLegibility;
            /* Support for Firefox. */
            -moz-osx-font-smoothing: grayscale;
            /* Support for IE. */
            font-feature-settings: 'liga';
        }

        .material-icons.md-18 { font-size: 18px; }
        .material-icons.md-24 { font-size: 24px; }
        .material-icons.md-36 { font-size: 36px; }
        .material-icons.md-48 { font-size: 48px; }
    </style>
</head>
<body>

    @RenderBody()

    <environment names="Development">
        <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="~/node_modules/tether/dist/js/tether.min.js"></script>
        <script src="~/node_modules/popper.js/dist/umd/popper.min.js"></script>
        <script src="~/node_modules/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/node_modules/reflect-metadata/Reflect.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <!-- Polyfill(s) for older browsers -->
        <script src="~/node_modules/core-js/client/shim.min.js"></script>
        <script src="~/node_modules/zone.js/dist/zone.js"></script>
        <script src="~/node_modules/systemjs/dist/system.src.js"></script>
        <script src="~/systemjs.config.js"></script>
        <script>
            System.import('main.js').catch(function (err) { console.error(err); });
        </script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script>
            System.import('main.js').catch(function (err) { console.error(err); });
        </script>
    </environment>

    @RenderSection("scripts", required: false)

</body>
</html>
